<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    
    <form method="post" action="/login">
        <h1>Login Now</h1>
        <input type="email" value="<%= locals.email %>" name="email" placeholder="Enter your Email">
        <input type="password" name="password" placeholder="Enter your password">
        <div style="color:red; position: absolute; top:285px; left: 50px; font-size: small;"><%= locals.message %></div>  <!-- here if we write only message
        then whenever we are redering login without passing message then it will give error as message is empty thats why first we are checking if the
        whole object is empty or not if it is empty then dont reder message else render it.-->
        <button id="submit" type="submit">Log In</button>
    </form>

</body>
</html>